.guestbook {
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}

.guestbook-item {
    padding: 20px;
    position: relative;
    &:after {
        border: 1rem solid transparent;
        border-right-color: #fff;
        left: -10px;
        content: "";
        position: absolute;
        top: 25px;
    }
    &:before {
        content: "";
        background-color: #7AD11C;
        position: absolute;
        left: -13px;
        top: 31px;
        border-radius: 50%;
        display: block;
        border: 5px solid #fff;
        padding: 5px;
    }
}

.guestbook-user {
    // border: 1px solid #ccc;
    border-radius: 5px;
    .content {
        font-size: 14px;
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
    }
    .mata {
        font-size: 12px;
        color: #a6a6a6;
        padding-top: 5px;
    }
}

.guestbook-blog {
    float: right;
    position: relative;
    .content {
        font-size: 14px;
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
    }
    .mata {
        font-size: 12px;
        color: #a6a6a6;
        padding-top: 5px;
    }
    &:after {
        border: 1rem solid transparent;
        border-left-color: #fff;
        right: -26px;
        content: "";
        position: absolute;
        top: 6px;
    }
    &:before {
        content: "";
        background-color: #7AD11C;
        position: absolute;
        top: 12px;
        border-radius: 50%;
        display: block;
        border: 5px solid #fff;
        padding: 5px;
        right: -32px;
    }
}



.guestbook-form{
    background-color: #fff;
    padding: 20px
}