.app-header {
    background-color: #fff;
    z-index: 999;
    flex: 0 0 auto;
    width: $main-width;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    user-select: none;
    .site-name {
        transition: color .15s ease;
        margin-right: 22px;
        font-size: 14px;
        color: #f03838;
        margin-left: 28px;
        font-style: italic
    }
}

.app-header-nav {
    margin: 0;
    flex: 1 0 auto;
    text-align: right;
    a {
        color: #71777c; // color: rgba(255,255,255,0.8);
        transition: color .15s ease;
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        font-size: 14px;
        &:hover {
            color: #61B3E6
        }
    }
    .app-github {
        padding: 0;
        line-height: 0;
        svg {
            color: #fff;
            fill: #42b983;
            height: 50px;
            width: 50px;
        }
    }
}

.app-header-search {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid hsla(0, 0%, 59%, .2);
    background-color: rgba(227, 231, 236, .2);
    display: flex;
    align-items: center;
    &-icon {
        cursor: pointer;
        fill: #aeb6c0;
        margin: 0 10px;
    }
    &-input {
        border: none;
        box-shadow: none;
        outline: none;
        color: #aeb6c0;
        background-color: transparent;
        font-size: 12px;
        padding: 7px 12px;
        width: 180px;
    }
}

.app-header-search-form {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dashed hsla(0, 0%, 59%, 0.2);
    background-color: rgba(227, 231, 236, 0.2);
    display: flex;
    align-items: center;
}

.app-header-search-form .icon {
    cursor: pointer;
    fill: #aeb6c0;
    margin: 0 10px;
}

.app-header-search-form input {
    border: none;
    box-shadow: none;
    outline: none;
    color: #aeb6c0;
    background-color: transparent;
    font-size: 12px;
    padding: 7px 12px;
    width: 180px;
}