.article {
    background-color: #fff;
    .inner {
        max-width: 980px;
        padding: 20px 40px 20px 40px;
    }
    .active {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5px;
    }
    .header {
        margin-bottom: 20px;
        text-align: center;
    }
    .title {
        word-break: break-word;
        margin: 10px 0;
        font-size: 26px; 
    }
    .title-link {
        display: inline-block;
        position: relative;
        color: rgb(85, 85, 85);
        border-bottom: none;
        vertical-align: top;
    }
    .meta {
        margin: 3px 0px 6px;
        color: rgb(153, 153, 153);
        font-family: Monda, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 12px;
        span {
            padding: 0 5px;
        }
    }
}
// .article-body {
//     text-align: justify;
//     font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
//     font-size: 14px;
//     box-shadow: initial;
//     border-radius: initial;
//     h2,
//     h3,
//     h4,
//     h5 {
//         margin: 20px 0 15px;
//     }
//     h2 {
//         font-size: 20px;
//     }
//     h3 {
//         font-size: 18px;
//     }
//     h4 {
//         font-size: 16px;
//     }
//     p {
//         margin: 0 0 25px 0;
//     }
//     pre {
//         overflow: auto;
//         font-size: 13px;
//         color: #4d4d4c;
//         background: #f7f7f7;
//         line-height: 1.6;
//         padding: 10px;
//     }
// }

.post-copyright {
    color: #444;
    margin: 28px 0 0;
    padding: 7px 14px;
    list-style: none;
    font-size: 14px;
    background-color: #efefef;
}

// 导入github样式
@import '../common/github-markdown.scss';