.article {
    padding-bottom: 20px;
    background-color: #fff;
    .inner {
        margin-top: 10px;
        max-width: 980px;
        padding: 10px 28px 0 28px;
    }
    .active {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 5px;
    }
    .header {
        margin-bottom: 20px;
        text-align: center;
    }
    .title {
        word-break: break-word;
        margin: 10px 0;
        font-size: 18px;
    }
    .title-link {
        display: inline-block;
        position: relative;
        color: rgb(85, 85, 85);
        border-bottom: none;
        vertical-align: top;
    }
    .meta {
        margin: 3px 0px 6px;
        color: rgb(153, 153, 153);
        font-family: Monda, "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 12px;
        span{
            padding: 0 5px;
        }
    }
}

.post-copyright {
    color:#444;
    margin: 28px 0 0;
    padding: 7px 14px;
    background-color: rgba(233, 223, 119, 0.58);
    list-style: none;
    font-size: 14px;
    background-color: #DEEBF7;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aad1f5), color-stop(1, #8bc8dd) );
}