.app-article-list {
    max-width: $max-width;
    background-color: #fff;
}

.article-item {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(178, 186, 194, .15);
    &:last-child {
        border-bottom: none;
    }
}

.article-header {
    display: flex;
    margin: 10px 0 10px;
    justify-content: space-between
}

.article-brief {
    line-height: 32px;
    font-size: 18px;
    display: block;
    padding: 0 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.article-title {
    font-weight: 700;
    color: rgb(85, 85, 85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    &:hover {
        color: #007fff;
    }
}

.article-meta {
    color: #999;
    font-size: 12px;
    a {
        color: #999;
    }
}

.article-thumb {
    width: 150px;
    height: 96px;
    a {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.article-summary {
    margin: 8px 28px;
    word-wrap: break-word;
    font-size: 14px;
}