.app-guestbook-list {
    display: flex;
    flex-direction: column;
    background-color: #fff
}

.guestbook-item {
    padding: 20px 25px;
    position: relative;
}

.guestbook-user {
    border-radius: 5px;
    &.blog {
        float: right;
        position: relative;
    }
    &-content {
        font-size: 14px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc
    }
    &-mata {
        font-size: 12px;
        color: #999;
        padding-top: 5px;
    }
}

.guestbook-form {
    padding: 20px
}