.app-guestbook-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex: 1 0 auto
}

.guestbook-list-wrap {
    display: flex;
}

.guestbook-list-left,
.guestbook-list-right {
    flex: 1 0 auto;
}

.guestbook-item {
    padding: 20px 25px;
    position: relative;
}

.guestbook-user {
    border-radius: 5px;
    width: 320px;
    &.blog {
        float: right;
        position: relative;
    }
    &-content {
        font-size: 14px;
        padding: 10px 0;
        border-radius: 4px;
        line-height: 1.8
    }
    &-mata {
        font-size: 14px;
        color: #999;
        padding-top: 5px;
        display: flex;
        .avatar {
            height: 24px;
            width: 24px;
            img {
                width: 100%;
                height: 100%;
                display: block;
                background-color: #f2f2f1;
                border-radius: 50%;
            }
        }
        .nick-name {
            color: #42b983;
            padding-left: 5px;
            flex: 1 0 auto;
        }
        .time,
        .map {
            font-size: 12px;
            padding-left: 5px;
        }
    }
}

.guestbook-form {
    padding: 20px
}

.guestbook-list-loading-masker {
    .guestbook-user-content {
        width: 100%;
        height: 35px;
        border: none;
        border-radius: 0
    }
    .guestbook-user-mata {
        margin-top: 10px;
        height: 20px;
        width: 200px;
        border-radius: 0
    }
    .guestbook-user.blog {
        margin-top: 10px;
        width: 100%;
        .guestbook-user-content {
            height: 35px;
            border: none;
            border-radius: 0
        }
        .guestbook-user-mata {
            margin-top: 10px;
            height: 20px;
            width: 200px;
            float: right;
            border-radius: 0
        }
    }
}