<footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright © 2016 <a href="https://www.icoolstar.com" target="_blank">冷夜流星后台</a>.</strong> All rights reserved.
</footer>
</div>
</div>
</div>
</body>

</html>