<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>冷夜流星博客后台</title>
    <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/admin/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/admin/css/webuploader.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css"/>
    <script src="/admin/js/jquery-1.12.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/admin/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<nav class="navbar  navbar-fixed-top sky-blue">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">冷夜流星博客后台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell-o"></i> 通知
                        <span class="label label-warning">6</span>
                    </a>
                </li>
                <li class="user user-menu">
                    <a href="#">
                        <img src="/admin/images/logo.jpg" class="user-image">
                        <span class="hidden-xs">冷夜流星-博主</span>
                    </a>
                </li>
                <li class="user user-menu">
                    <a href="/admin/login-out">
                        <i class="fa fa-power-off"></i>
                        <span class="hidden-xs">注销</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="header">主菜单</li>
                <li>
                    <a href="/admin/doc-list"><i class="fa fa-file"></i>&nbsp;文档管理</a>
                </li>
                <li>
                    <a href="/admin/category-list"><i class="fa fa-folder"></i>&nbsp;分类管理</a>
                </li>
                <li>
                    <a href="/admin/tag/list"><i class="fa fa-tags"></i>&nbsp;标签管理</a>
                </li>
                <li>
                    <a href="/admin/comment-list"><i class="fa fa-comments"></i>&nbsp;文档评论管理</a>
                </li>
                <li>
                    <a href="/admin/guestbook/list"><i class="fa fa-edit"></i>&nbsp;留言管理</a>
                </li>
                </li>
                <li>
                    <a href="/admin/link/list"><i class="fa fa-tags"></i>&nbsp;友情链接管理</a>
                </li>
                <li>
                    <a href="/admin/user/edit"><i class="fa fa-user"></i>&nbsp;用户信息修改</a>
                </li>
            </ul>
        </div>