.categories {
    background-color: var(--main-bg-color);
    padding: 2px 36px;
    font-size: 14px;
    color: var(--second-text-color);
    margin-top: 20px;
}

.categoriesInnter {
    padding: 2px 2px;
    background-color: var(--app-background-color);
    display: inline-block;
    border-radius: 3px;
}

.categoryItemA {
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 3px 10px;
    margin-right: 3px;
    display: inline-block;
    background-color: var(--app-background-color);
    transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
        text-decoration: none;
        color: var(--primary-text-color);
        background-color: var(--main-bg-color);
        border-radius: 3px;
    }
    &:global(.active) {
        background-color: var(--main-bg-color);
        border-radius: 3px;
    }
    &:last-child {
        margin-right: 0;
    }
}
