.app-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1024;
    left: 0;
    width: 340px;
    display: flex;
}

.app-cover__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -100;
    background: url(../../public/cover.jpg) 50% 50% / cover no-repeat;
}

.app-cover__info {
    display: flex;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    color: white;
    align-items: center;
    flex: 1 0 auto;
    justify-content: center
}

.logo {
    vertical-align: middle;
    border-radius: 50%;
}