/*
 * @Author: bs32g1038@163.com
 * @Date: 2017-05-23 11:28:16
 * @Last Modified by: bs32g1038@163.com
 * @Last Modified time: 2017-06-18 21:48:54
 */

#app {
    height: 100%;
    display: flex;
}

.app-content {
    margin-left: 340px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}