.article {
  display: flex;
  width:  800px;
  justify-content: space-between;
  flex: 1 0 auto;
  margin-left: 32px;
}

.article__inner {
  background-color: #fff;
  width: 700px;
  margin-top: rem(10px);
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.article__header {
  margin-bottom: 20px;
  text-align: center
}

.article__title {
  font-size: 19px;
  word-break: break-word;
  margin: 10px 0;
}

.article__title-link {
  display: inline-block;
  position: relative;
  color: rgb(85, 85, 85);
  border-bottom: none;
  vertical-align: top;
}

.article__meta {
  margin: 3px 0px 6px;
  color: rgb(153, 153, 153);
  font-family: Monda, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 12px;
}

// .markdown {
//   font-size: 14px;
//   line-height: 1.5;
// }

// .markdown h1,
// .markdown h2,
// .markdown h3,
// .markdown h4 {
//   min-height: 26px;
//   line-height: 26px;
//   margin: 20px 0;
//   padding: 5px 20px;
//   font-size: 14px;
//   font-weight: 400;
//   border-left: 3px solid #82c83c;
//   color: #585957;
//   background-color: #f9f9f9;
//   text-shadow: 0 2px 1px rgba(255, 255, 255, .5);
// }

// .markdown p {
//   word-wrap: break-word;
//   font-size: 14px;
//   line-height: 1.5;
// }

// .markdown img {
//   max-width: 100%;
// }

// blockquote {
//   border-left: 4px solid #DDD;
//   margin: 20px 0;
//   padding: 5px 20px;
//   color: #777;
//   background-color: #f9f9f9;
//   font-style: italic
// }

// blockquote> :first-child {
//   margin-top: 0px;
// }

// blockquote> :last-child {
//   margin-bottom: 0px;
// }

// .markdown ul,
// .markdown ol {
//   padding-left: 32px;
// }

// .markdown ul {
//   list-style-type: circle
// }

// .markdown ul li> :first-child,
// .markdown ol li> :first-child,
// .markdown ul li ul:first-of-type,
// .markdown ol li ol:first-of-type,
// .markdown ul li ol:first-of-type,
// .markdown ol li ul:first-of-type {
//   margin-top: 0px;
// }

// .markdown ul ul,
// .markdown ul ol,
// .markdown ol ol,
// .markdown ol ul {
//   margin-bottom: 0;
// }

.comments {}

.comments__tip {
  border-left: 5px solid #82c83c;
  padding-left: rem(20px);
  font-size: 18px;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form__group {
  display: flex;
  margin-bottom: 10px;
}

.comment-form__label {
  color: #9e9e9e;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  padding: .375rem 1rem;
  border: 1px solid #d3d3d3;
}

.comment-form__input {
  border: 1px solid #d3d3d3;
  margin-left: -1px;
  padding: .375rem 1rem;
  max-width: rem(420px);
  flex: 1 0 auto;
  color: #515151;
  font: 400 12px/16px 'Lobster Two', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.comment-form__textarea {
  max-width: rem(486px);
  flex: 1 0 auto;
  border: 1px solid #d3d3d3;
  font: 400 12px/16px 'Lobster Two', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  padding: 6px 16px;
  resize: none
}

.comment-form__footer {
  max-width: rem(80px);
  display: flex;
  justify-content: flex-end;
}

.comment-form__button {
  cursor: pointer;
  border: none;
  background-color: rgba(2, 117, 216, 0.5);
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  border-radius: 3px;
  flex: 1 0 auto;
  text-align: center;
}

.comments-list{
  margin-top: 15px;
}

.comments-list__wrap{
  padding-left: 50px;
}
.comments-list__item {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: rem(16px);
  margin-bottom: rem(16px);
  &:lash-child{
    border-bottom: none
  }
}

.comments-list__info {
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.comments-list__info-author {
  color: #d95059;
}

.comments-list__info-time {
  color: #9e9e9e;
  margin-left: rem(8px);
  font-size: 12px;
}

.comments-list__info-reply {
  float: right;
}

.comments-list__item-content {
  font-size: 14px;
  line-height: 1.5;
}

.comments-list__quote {
  padding: 5px 20px 5px 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-left: 5px solid #ccc;
  border-right: 5px solid #ccc;
  background-color: #ffe6e6;
}

.comments-list__replay-box{
  margin-top: 10px;
}