.app {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    width: 680px;
    margin: 0 auto;
    flex: 1 0 auto;
    font-size: 14px;
    :global {
        @keyframes slideInUp {
            from {
                transform: translate3d(0, 100%, 0);
                visibility: visible;
            }
            to {
                transform: translate3d(0, 0, 0);
            }
        }
        a {
            text-decoration: none;
            color: var(--primary-text-color);
        }
        .slideInUp {
            animation-name: slideInUp;
        }
        .main {
            flex: 1 0 auto;
            background-color: var(--main-bg-color);
        }
        .react-calendar-heatmap text {
            font-size: 10px;
            fill: #aaa;
        }
        .react-calendar-heatmap .react-calendar-heatmap-small-text {
            font-size: 5px;
        }
        .react-calendar-heatmap rect:hover {
            stroke: #555;
            stroke-width: 1px;
        }
        .react-calendar-heatmap .color-empty {
            fill: #eeeeee;
        }
        .react-calendar-heatmap .color-filled {
            fill: #8cc665;
        }
        .react-calendar-heatmap .color-github-0 {
            fill: #eeeeee;
        }
        .react-calendar-heatmap .color-github-1 {
            fill: #d6e685;
        }
        .react-calendar-heatmap .color-github-2 {
            fill: #8cc665;
        }
        .react-calendar-heatmap .color-github-3 {
            fill: #44a340;
        }
        .react-calendar-heatmap .color-github-4 {
            fill: #1e6823;
        }
        .react-calendar-heatmap .color-gitlab-0 {
            fill: #ededed;
        }
        .react-calendar-heatmap .color-gitlab-1 {
            fill: #acd5f2;
        }
        .react-calendar-heatmap .color-gitlab-2 {
            fill: #7fa8d1;
        }
        .react-calendar-heatmap .color-gitlab-3 {
            fill: #49729b;
        }
        .react-calendar-heatmap .color-gitlab-4 {
            fill: #254e77;
        }
        .music-player {
            background-color: var(--main-bg-color);
            display: flex;
            justify-content: center;
            overflow: hidden;
            padding: 5px 0;
            color: var(--primary-text-color);
        }
    }
}
