.widgetArea {
    padding-top: 20px;
}
.widgetAreaTitle {
    font-size: 14px;
    color: var(--primary-text-color);
    padding: 0 30px;
}
.articleItem {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}
.media {
    position: relative;
}
.mediaContent {
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, 0.1);
    min-width: 120px;
    display: block;
    min-height: 80px;
}
.statement {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: var(--blackground-color);
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    color: var(--primary-text-color);
}
.articleItemRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
    gap: 4px;
}
.articleTitle {
    display: -webkit-box;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: var(--primary-text-color);
}
.articleSummary {
    font-size: 13px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: var(--secondary-text-color);
}
.articleTime {
    font-size: 13px;
    color: var(--secondary-text-color);
}
