{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }]
    ],
    "plugins": [
        ["babel-plugin-inferno", { "imports": true }], "transform-decorators-legacy", "transform-object-rest-spread", "syntax-jsx", "syntax-dynamic-import"
    ]
}