{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "next/core-web-vitals",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "settings": {
        "next": {
            "rootDir": "./client"
        },
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "prettier/prettier": "error",
        "@next/next/no-img-element": "off"
    }
}
