.wrapLinks {
    background-color: #fff;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 28px
}

.header {
    text-align: center
}

.title {
    font-size: 24px;
    margin: 5px
}

.body {
    display: flex;
    flex-wrap: wrap;
    padding: 0
}

.item {
    list-style: none;
    margin: 0;
    padding: 10px;
    position: relative;
    width: 33.3%
}

.itemContent {
    border: 1px solid #dededd;
    border-radius: 5px;
    padding: 10px
}

.itemImg {
    border-radius: 50%;
    height: 20px;
    margin-right: 8px;
    width: 20px
}

.itemMeta {
    align-items: center;
    color: #333;
    display: flex
}

.itemDescription {
    color: #999;
    font-size: 12px;
    height: 52px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden
}

.li {
    font-size: 14px;
    list-style: inherit;
    padding: 5px
}

.tip {
    border-left: 2px solid #67CCEA;
    border-left-width: 5px;
    color: #333;
    font-size: 14px;
    padding: 5px 5px 5px 20px
}

.jump {
    font-size: 16px;
    font-weight: bold
}