.table {
    padding: 10px;
    width: inherit;
    width: 100%;
    overflow: hidden;
    color: #495060;
    font-size: 12px;
    background-color: #fff;
    box-sizing: border-box;
    td {
        padding: 5px;
    }
}

.table th {
    min-width: 0;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-top: 1px solid #e9eaec;
    border-bottom: 1px solid #e9eaec;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
}