<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="/web/font-awesome/css/font-awesome.min.css">
  <link href="/web/css/app.e20640c2172d146afe3c.css" rel="stylesheet"></head>
  <body>
    <!-- APP -->
  <script type="text/javascript" src="/web/js/vendor.44fd3559a268fcf805a4.js"></script><script type="text/javascript" src="/web/js/app.b88190fb36350651c8a6.js"></script></body>
</html>