<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>冷夜流星博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="/web/font-awesome/css/font-awesome.min.css">
  <link href="/web/css/app.60d20e388e042cded253.css" rel="stylesheet"></head>
  <body>
    <!-- APP -->
  <script type="text/javascript" src="/web/js/vendor.4fbf869125e6e956ffed.js"></script><script type="text/javascript" src="/web/js/app.1f6890eaae8e85c29bcf.js"></script></body>
</html>