.wrap {
    &:global(.ant-card) {
        background-color: transparent;
        box-shadow: none !important;
    }
    :global {
        .ant-card-head {
            padding-left: 0 !important;
            border: none;
        }
        .ant-card-body {
            background-color: #fff;
            padding: 5px 24px;
        }
    }
}
