<div class="panel">
  <a class="btn is-primary" href="/admin/doc/publish">
              <span class="fa fa-plus-square">&nbsp;</span> 添加文档
          </a>
  <button class="btn is-danger" id="btnListDel">
    <span class="fa fa-fw fa-trash-o">&nbsp;</span> 批量删除
  </button>
  <div class="pull-right">
    <!--搜索框-->
    <form action="/admin/manage/contentList" name="searchForm">
      <div class="search-input-group">
        <input type="text" name="searchKey" id="searchInput" class="form-control input-sm pull-right" style="width: 200px;" placeholder="请输入需要查询的关键字" value="">
        <button class="btn is-primary" style="margin-left: 5px;" type="submit"><i class="fa fa-search"></i>搜索</button>
      </div>
    </form>
  </div>
</div>
<div class="article-publish">
  <form class="form-horizontal" id="doc_form" action="/admin/doc-publish-do" method="post">
    <div class="alert alert-warning text-center" role="alert">
    </div>
    <div class="form-group">
      <label class="control-label">文章标题：</label>
      <div>
        <input type="text" class="form-control input-sm" id="title" name="title">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">文章类别：</label>
      <div class="col-sm-2">
        <select class="select-selection" name="category">
          <% for(const item of categories){ %>
            <option>
              <%= item.name %>
            </option>
            <% } %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">缩略图：</label>
      <div>
        <div id="uploader" class="uploader">
          <button class="btn is-primary" id="picker">上传图片</button>
          <span class="tip"></span>
          <div class="alert alert-error hide"></div>
        </div>
        <div class="publish-thumbnail">
          <input type="hidden" name="img_url" id="img_url">
          <img src="<%= article.img_url %>" width="121" height="90" class="img-thumbnail" id="show_img">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">内容摘要：</label>
      <textarea name="summary" rows="2" style="height: 52px;min-height: 52px;max-height: 115px;"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">文章详情：</label>
      <textarea name="content" cols="30" rows="30"></textarea>
    </div>
    <input type="hidden" id="is_draft">
    <input type='hidden' name='_csrf' value='<%= csrf %>' />
    <div class="form-group">
      <label class="control-label col-sm-3">操作：</label>
      <button type="submit" class="btn is-primary">发布</button>
      <button id="save_draft" class="btn">存为草稿</button>
    </div>
  </form>
</div>
<!-- <script type="text/javascript" src="/admin/js/webuploader.withoutimage.js"></script>
<script type="text/javascript" src="/admin/editor/editor.js"></script>
<script type="text/javascript" src="/admin/editor/marked.js"></script>
<script type="text/javascript" src="/admin/js/jquery-tag.js"></script>
<script type="text/javascript" src="/admin/js/upload.images.js"></script>
<script type="text/javascript" src="/admin/editor/ext.js"></script>
<script>
$(document).ready(function() {
  $('#save_draft').on('click', function() {
    $('#is_draft').val(1);
    $('#doc_form').submit();
  });
  var editor = new Editor({
    element: document.getElementById('content'),
  });
  editor.render();

  new UploadImages();
}); -->
</script>