@keyframes waves {
    10% {
        height: 20%
    }
    20% {
        height: 60%
    }
    40% {
        height: 40%
    }
    60% {
        height: 100%
    }
    100% {
        height: 50%
    }
}

.wrap {
    background-color: #fff;
    padding: 20px
}

.header {
    display: flex;
    flex-direction: row;
    position: relative
}

.cover {
    flex: 0 0 auto;
    height: 90px;
    width: 120px
}

.coverImg {
    display: block;
    height: auto;
    max-height: 100%;
    width: 100%
}

.musicSheet {
    margin-left: 10px;
    overflow: hidden
}

.sheetTitle {
    color: #555;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding-bottom: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.meta,
.sheetTime {
    color: #999;
    font-size: 12px
}

.sheetTime span {
    padding-right: 5px
}

.sheetSummary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.sheetSign {
    color: #AE3B35;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0
}

.currentMusicInfo {
    padding: 10px;
    padding-right: 30px;
    position: relative;
    text-align: center;
    width: 100%
}

.currentMusicSign {
    color: #AE3B35;
    font-weight: bold;
    left: 10px;
    position: absolute;
    top: 10px
}

.lyricMain {
    flex: 1 0 auto;
    height: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: height 0.25s ease-in-out
}

.lyricWrap {
    transition: transform 0.1s ease-out
}

.lyricItem {
    height: 24px;
    line-height: 24px;
    margin: 0;
    &.on {
        color: #31c27c
    }
}

.musicMain {
    padding-left: 20px
}

.musicName {
    font-size: 16px
}

.playArea {
    align-items: center;
    background-color: #fafafa;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    user-select: none
}

.playArea>a {
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
    position: relative
}

.playArea>.play,
.playArea>.pause {
    font-size: 20px;
    width: 20px
}

.playArea>.word {
    color: #dc794e;
    font-size: 15px;
    padding: 1px
}

.playProgress {
    align-items: center;
    display: flex;
    flex-direction: row
}

.playTime {
    padding: 0 5px
}

.playInfoWrap {
    margin-top: -3px;
    padding: 0 5px
}

.musicInfo {
    padding-bottom: 5px
}

.playProgressLine {
    background-color: #999;
    border-radius: 5px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    width: 300px;
    cursor: pointer;
}

.playProgressActive {
    background-color: #66B7FF;
    border-radius: 5px;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 50
}

.playIndicator {
    background-color: #fff;
    border: 1px solid #C5C5C5;
    border-radius: 50%;
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    top: -4px;
    width: 12px;
    z-index: 100
}

.playVolume {
    align-items: center;
    display: flex;
    margin: 0 10px;
    position: relative
}

.musicSinger,
.volume {
    font-size: 14px
}

.volumeLine {
    background-color: #E6E6E8;
    border: 1px solid #eee;
    border-radius: 5px;
    height: 4px;
    margin-left: 5px;
    position: relative;
    width: 100px
}

.volumeLineActive {
    background-color: #66B7FF;
    border-radius: 5px;
    display: block;
    height: 4px;
    position: absolute;
    width: 100px;
    z-index: 50
}

.volumeIndicator {
    background-color: #fff;
    border: 1px solid #C5C5C5;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 12px;
    left: 88px;
    position: absolute;
    top: -5px;
    width: 12px;
    z-index: 100
}

.musicListBar {
    background-color: #F4F4F6;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    position: relative
}

.musicList {
    height: 250px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    transition: height 0.25s ease-in-out
}

.songIndex {
    width: 50px
}

.left,
.right,
.songName {
    flex: 1 0 auto
}

.songSinger {
    width: 200px
}

.songAlbum {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px
}

.songDuration {
    width: 60px
}

.musicItem {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    position: relative;
    &:hover {
        background-color: #ebeced
    }
}

.songAnimate {
    height: 12px;
    padding-right: 6px;
    position: absolute;
    right: 0;
    top: 11px;
    >i {
        position: relative;
        display: inline-block;
        width: 3px;
        height: 100%;
        margin-right: 2px;
        &:after {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: #e03a3a;
        }
        &:nth-of-type(1):after {
            animation: waves .6s linear 0s infinite alternate;
        }
        &:nth-of-type(2):after {
            animation: waves .9s linear 0s infinite alternate;
        }
        &:nth-of-type(3):after {
            animation: waves 1.2s linear 0s infinite alternate;
        }
    }
}