.article {
    // background-color: var(--main-bg-color);
    padding: 20px 0 20px 0;
    :global(.ant-breadcrumb) {
        font-size: 13px;
        margin-bottom: 8px;
        span {
            color: var(--secondary-text-color) !important;
        }
        a {
            color: var(--secondary-text-color) !important;
        }
    }
}

.media {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 20px;
    &:after {
        content: '';
        display: block;
        padding-top: 30%;
    }
}

.mediaContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, 0.1);
}

.articleMeta {
    // margin-bottom: 20px;
}

.articleTitle {
    font-size: 28px;
    color: var(--title-text-color);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 14px;
}
.articleMetaInfo {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-size: 14px;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    a {
        color: var(--secondary-text-color) !important;
        text-decoration: underline !important;
    }
}

.statement {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: var(--blackground-color);
    border-radius: 3px;
    color: var(--primary-text-color);
    a {
        font-size: 14px;
        color: #f86422 !important;
    }
}

.footer {
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
}

.editor {
    border-top: 1px solid var(--border-color) !important;
    padding-top: 16px;
}

.recentArticleItem {
    width: 200px;
    height: 100px;
    position: relative;
    border: 1px solid var(--border-color);
    padding: 2px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.recentArticleItemTitle{
    position: relative;
    z-index: 1000;
    color: var(--primary-text-color);
    background-color: #f1f1f165;
}
