.commentItem {
    padding: 10px;
}
.commentItemContent {
    display: flex;
    justify-content: space-between;
}
.commentItemInner {
    display: flex;
}
.commentItemRight {
    width: 100%;
}
.commentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.commentHeaderLeft {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-size: 14px;
    color: #86909c;
}
.commentHeaderLeftContent {
    display: flex;
    align-items: center;
}
.commentItemNickName {
    font-weight: 500;
    color: var(--title-text-color);
}
.commentItemAvatar {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 5px;
}
.commentHeaderTime {
    margin-left: 5px;
}
.divide {
    display: block;
    width: 1px;
    height: 14px;
    background: #e5e6eb;
    margin: 0 8px;
}

.commentReplyList {
    // background-color: var(--blackground-color);
}

.commentReplyItem {
    border-top: 1px dashed #ebe7e7;
    background: #f9f9f9;
}

.commentItemReplyContent {
    padding: 10px 12px;
    border-radius: 4px;
}

.parentWrapper {
    display: flex;
    background: #f2f3f5;
    box-sizing: border-box;
    padding: 0 12px;
    line-height: 36px;
    height: 36px;
    font-size: 14px;
    color: #8a919f;
    align-items: center;
    border-left: 3px solid #ccc;
}

.parentContent {
    flex-shrink: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 1;
}

.commentItemReplyInfo {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-size: 14px;
    justify-content: space-between;
    span {
        display: block;
    }
    .left {
        display: flex;
        align-items: center;
    }
}
