.commentItem {
    :global {
        .ant-btn {
            padding: 0 3px !important;
        }
        .ant-btn span {
            margin-inline-start: 3px !important;
        }
    }
}
.commentItemInner {
    display: flex;
    color: var(--secondary-text-color);
}
.commentItemRight {
    width: 100%;
}
.commentItemRightTop {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 6px;
    margin-bottom: 14px;
}
.commentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.commentHeaderLeft {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-size: 14px;
    color: #86909c;
}
.commentHeaderLeftContent {
    display: flex;
    align-items: center;
    gap: 10px;
}
.commentItemNickName {
    font-weight: 500;
    color: var(--primary-text-color);
    font-size: 15px;
}
.commentItemAvatar {
    position: relative;
    width: 48px;
    height: 48px;
    min-width: 32px;
    min-height: 32px;
    margin-right: 10px;
    margin-top: 5px;
    overflow: hidden;
    svg {
        border-radius: 5px;
    }
}
.commentItemContent {
    color: var(--primary-text-color);
    margin-bottom: 2px;
    margin-top: 8px;
}
.commentHeaderTime {
    margin-left: 5px;
}
.divide {
    display: block;
    width: 1px;
    height: 14px;
    background: var(--border-color);
    margin: 0 8px;
}
.time {
    font-size: 14px;
    margin-left: 4px;
    color: #aeb0bb;
}
