@keyframes waves {
    10% {
        height: 20%
    }
    20% {
        height: 60%
    }
    40% {
        height: 40%
    }
    60% {
        height: 100%
    }
    100% {
        height: 50%
    }
}

.MusicHeader {
    position: relative;
    &-cover {
        height: 94px;
        width: 130px;
        float: left;
    }
    &-coverImg {
        display: block;
        height: auto;
        max-height: 100%;
        width: 100%;
        float: left;
    }
    &-sheet {
        margin-left: 10px;
        overflow: hidden;
        margin-left: 145px
    }
    &-sheetTitle {
        color: #eee;
        font-size: 16px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &-meta,
    &-sheetTime {
        margin-top: 5px;
        color: #ddd;
        font-size: 12px
    }
    &-sheetTime span {
        padding-right: 5px
    }
    &-sheetSummary {
        margin-top: 5px;
        margin-bottom: 2px;
        color: #efefef
    }
}

.MusicListTable {
    width: 100%;
    user-select: none;
    &-body {
        max-height: 220px;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        .MusicListTable-row {
            cursor: pointer;
        }
        .list-line {
            height: 1px;
            background-color: rgba(255, 255, 255, .2);
            opacity: 0.2;
            display: table-cell;
            column-span: 4;
        }
    }
    &-row {
        display: table-row;
        position: relative;
    }
    &-cell {
        padding: 16px 20px;
        display: table-cell;
        color: rgba(225, 225, 225, .8);
        &.index {
            width: 80px;
        }
        &.name {
            width: 250px;
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.singer {
            width: 200px
        }
        &.duration {
            width: 100px
        }
    }
}

.Music-songAnimate {
    height: 12px;
    padding-right: 6px;
    position: absolute;
    right: 0;
    top: 11px;
    >i {
        position: relative;
        display: inline-block;
        width: 3px;
        height: 100%;
        margin-right: 2px;
        &:after {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: #e03a3a;
        }
        &:nth-of-type(1):after {
            animation: waves .6s linear 0s infinite alternate;
        }
        &:nth-of-type(2):after {
            animation: waves .9s linear 0s infinite alternate;
        }
        &:nth-of-type(3):after {
            animation: waves 1.2s linear 0s infinite alternate;
        }
    }
}

.info-content {
    display: flex;
    align-items: center;
    .music-pic {
        border-radius: 4px;
        img {
            width: 40px;
            height: 40px;
            background-size: contain;
            border-radius: 4px;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}

.song-play-area {
    display: flex;
    position: relative;
    z-index: 100;
    .pic-circle {
        width: 24%;
        color: black;
        position: relative;
        img {
            width: 120px;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            right: -50%;
            margin-top: -60px;
            animation: rotate 30s linear infinite;
        }
    }
    .MusicLyric {
        flex: 1 0 auto;
        overflow: hidden;
        position: relative;
        text-align: center;
        height: 340px;
        max-height: 340px;
        &-list {
            transition: transform 0.4s ease-out;
            color: #eee;
        }
        &-item {
            height: 24px;
            line-height: 24px;
            margin: 0;
            color: #eee;
            &.on {
                color: #31c27c
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

.MusicPlayArea {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
    user-select: none;
    .icon-prev,
    .icon-next {
        fill: rgba(225, 225, 225, .8);
        width: 18px;
        height: 18px;
        &:hover {
            fill: #fff;
        }
    }
    .icon-play {
        fill: rgba(225, 225, 225, .8);
        width: 24px;
        height: 24px;
    }
    .icon-recycle {
        fill: rgba(225, 225, 225, .8);
        width: 36px;
        height: 36px;
    }
    .icon-down {
        fill: rgba(225, 225, 225, .8);
        width: 24px;
        height: 24px;
    }
    .icon-volumn {
        fill: rgba(225, 225, 225, .8);
        width: 24px;
        height: 24px;
    }
    >a {
        cursor: pointer;
        font-size: 14px;
        position: relative;
        color: #fff;
        &.play,
        &.pause {
            font-size: 20px;
            margin-right: 4%;
        }
        &.word {
            color: #dc794e;
            font-size: 15px;
            padding: 1px
        }
        &.prev {
            margin-right: 4%;
        }
        &.next {
            margin-right: 3%;
        }
        &.recycle {
            margin-left: 2%;
            width: 36px;
            height: 36px;
        }
        &.down {
            margin-left: 2%;
            margin-left: 2%;
        }
    }
    &-volume {
        align-items: center;
        display: flex;
        margin: 0 10px;
        position: relative
    }
}

.MusicPlayProgress {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    &-playTime {
        padding: 0 5px
    }
    &-infoWrap {
        margin-top: -3px;
        padding: 0 5px;
        >.musicInfo {
            padding-bottom: 5px;
        }
    }
    &-Line {
        background-color: #999;
        border-radius: 5px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        cursor: pointer;
        border-radius: 2px;
        &.active {
            border-radius: 2px;
            background-color: #fff;
            border-radius: 5px;
            height: 2px;
            left: 0;
            position: absolute;
            top: 0;
            z-index: 50
        }
    }
    &-indicator {
        background-color: #fff;
        border-radius: 50%;
        display: block;
        height: 10px;
        left: 0;
        position: absolute;
        top: -4px;
        width: 10px;
        z-index: 100
    }
    ._base-info {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .musicInfo {
        float: left;
        width: 180px;
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .MusicPlayProgress-playTime {
        float: right;
    }
}

.MusicPlayVolume {
    align-items: center;
    display: flex;
    margin: 0 10px;
    position: relative;
    &-line {
        background-color: #999;
        border-radius: 5px;
        height: 2px;
        margin-left: 5px;
        position: relative;
        width: 100px;
        border-radius: 2px;
        &.active {
            border-radius: 2px;
            background-color: #fff;
            display: block;
            position: absolute;
            margin-left: 0;
            border: none
        }
    }
    &-indicator {
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        height: 10px;
        left: 88px;
        position: absolute;
        top: -4px;
        width: 10px;
        z-index: 100
    }
}

.about-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    .about-dialog-title {
        color: #666;
        font-weight: 700;
    }
    .about-dialog-content {
        p {
            margin: 5px 0;
            line-height: 1.6;
            font-size: 12px;
        }
        img {
            max-width: 120px;
            height: auto;
            vertical-align: text-top;
            border-radius: 10px;
        }
    }
    .about-dialog-footer {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        button {
            border: none;
            background-color: rgba(197, 50, 50, .8);
            color: #fff;
            border-radius: 4px;
            padding: 5px 20px;
            font-size: 12px;
            outline: none;
            cursor: pointer;
            &:focus {
                outline: none
            }
        }
    }
}