<header class="app-header">
  <h1 class="site-name"><i class="fa fa-css3 fa-fw"></i><%= site.name %>后台</h1>
  <nav class="app-header-nav">
    <div class="app-header-nav-main">
      <a href="/admin/doc-list"><i class="fa fa-file fa-fw"></i>文章管理</a>
      <a href="/admin/comment-list"><i class="fa fa-comments fa-fw"></i>评论管理</a>
      <a href="/admin/category-list"><i class="fa fa-folder fa-fw"></i>分类管理</a>
      <a href="/admin/category-list"><i class="fa fa-coffee fa-fw"></i>留言管理</a>
      <a href="/admin/login-out"><i class="fa fa-power-off" fa-fw></i>注销</a>
    </div>
  </nav>
</header>