.drawerContent {
    :global(.ant-upload) {
        width: 200px !important;
        height: auto !important;
        min-height: 80px !important;
    }
    :global {
        img {
            width: 200px !important;
            height: 150px !important;
            object-fit: contain;
        }
    }
}
