html,
body,
#__next {
    height: 100%;
    min-height: 100%;
    background-color: var(--app-background-color);
    font-family:
        -apple-system,
        system-ui,
        Segoe UI,
        Roboto,
        Ubuntu,
        Cantarell,
        Noto Sans,
        sans-serif,
        BlinkMacSystemFont,
        Helvetica Neue,
        PingFang SC,
        Hiragino Sans GB,
        Microsoft YaHei,
        Arial !important;
}

@font-face {
    font-family: 'logoFont';
    src: url('../assets/fonts/ZiXinFangMengTi-subfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import './rich-text-viewer.scss';
