.clearfix:before,
.clearfix:after {
    display: table;
    content: ''
}

.clearfix:after {
    clear: both
}

.pale-red {
    color: #FF3030
}

.fr {
    float: right
}

.ant-layout-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 54px;
    z-index: 100;
    background: #3C8DBC;
    line-height: 54px;
}

.navbar-nav ul {
    margin: 0;
    list-style: none;
    padding: 0
}

.navbar-nav ul li {
    float: left
}

.navbar-nav ul li a {
    color: #fff;
    font-size: 14px;
    padding: 0 15px;
    display: block
}

.navbar-nav ul>li>a:hover {
    background-color: rgba(0, 0, 0, .1);
}

.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
}

img {
    vertical-align: middle;
}

.ant-layout-sider {
    position: fixed;
    top: 54px;
    bottom: 0;
    left: 0;
    width: 200px
}

.ant-layout-sider .ant-menu {
    background: #f5f5f5
}

.ant-menu-root {
    height: 100%
}

.ant-layout-content {
    margin-top: 54px;
    background-color: #fff;
    margin-left: 200px;
    padding: 15px
}

.ant-menu-root .fa {
    margin-right: 8px;
}

.ant-menu-inline,
.ant-menu-inline .ant-menu-item {
    border-right-width: 1px;
}

.mr8 {
    margin-right: 8px;
}

.logo {
    color: #fff;
    font-size: 20px;
    display: block;
    float: left
}

.logo img {
    margin-top: 15px;
    height: 30px;
    padding-right: 10px;
    float: left;
}

.ant-breadcrumb {
    background-color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color: inherit;
    font-size: 14px;
}

.panel {
    margin: 15px 15px 6px 0;
    background-color: #fff;
    border-radius: 4px;
}

.panel>button {
    margin-right: 10px;
}


/********************************编辑器************************/

.box {
    margin-top: 20px;
    margin-bottom: 5px;
    /*color: #fff*/
}

.box-header {
    border-left: 5px solid #456889;
    margin-bottom: 10px;
    padding-left: 10px;
}

.box-body {
    text-align: center
}

.dashboard-comment-list {
    text-align: left;
}

.dashboard-comment-list .box-title {
    position: relative;
    padding: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 5px solid #ccc;
}

.dashboard-comment-list .box-title:before {
    content: '';
    width: 30px;
    height: 10px;
    background-color: #ccc;
}

.dashboard-comment-list .box-content {
    padding: 20px
}

.dashboard-comment-list .comment-nickname {
    color: #108ee9;
}

.dashboard-comment-list .comment-time {
    text-align: right
}

.dashboard-comment-list .avatar {
    width: 40px;
    height: 40px
}

.dashboard-comment-list .comment-content {
    background-color: #d2d6de;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #d2d6de;
    margin-top: 15px;
}

.dashboard-comment-list .comment-item {
    margin-bottom: 10px;
}

.dashboard-comment-list .user-info p {
    margin-bottom: 10px
}

#m-user-edit-avatar .ant-upload-list-item {
    height: 96px;
    width: 96px
}

#m-user-edit-avatar .ant-upload-list-picture .ant-upload-list-item-thumbnail img {
    height: 78px;
    width: 78px
}

#m-user-edit-avatar .ant-upload-list-item:hover .anticon-cross {
    display: none
}


#text-editor-affix>.ant-affix {
    background-color: #fff!important;
}

.ant-form-item-control{
    line-height: 24px;
}



/********文本编辑器***********/
.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}