.emoji {
    display: flex;
    flex-wrap: wrap;
    max-width: 460px;
    gap: 5px;
    button {
        border: transparent;
        margin-left: 5px;
        background-color: transparent;
        height: 28px;
        width: 28px !important;
    }
    img {
        width: 100%;
    }
}
.userInfo {
    display: flex;
    padding: 10px 0;
    gap: 10px;
    position: relative;
    svg {
        border-radius: 5px;
    }
}

.userInfoText {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 0;
}

.userInfoAvatar {
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    min-width: 0px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    border-radius: 3px;
    flex: 0 0 auto;
}

.inputWrap {
    textarea {
        border: 1px solid var(--border-color);
        background-color: var(--main-bg-color);
        color: var(--secondary-text-color);
        border-radius: 0;
    }
}

.commentFormFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    font-size: 16px;
}

textarea.input {
    min-height: 24px !important;
    line-height: 24px !important;
    border: none;
    padding: 0;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.commentForm {
    border: 1px solid var(--border-color);
    background-color: var(--main-bg-color);
    color: var(--secondary-text-color);
    box-sizing: border-box;
    border-radius: 4px;
    flex: 1 1 auto;
    padding: 8px 12px;
}

.line {
    margin-top: 8px;
    position: relative;
    &::before {
        display: block;
        content: ' ';
        position: absolute;
        inset: -50%;
        pointer-events: none;
        transform: scale(0.5, 0.5);
        border-top: 1px solid var(--border-color);
    }
}

.loginComment {
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    padding-bottom: 20px;
}

.loginCommentRight {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    width: 100%;
    padding: 4px 0;
}

.githubIcon {
    vertical-align: top;
    margin-right: 5px;
}

.btn {
    &:global(.ant-btn) {
        font-size: 16px;
        padding: 2px 10px;
        height: auto;
        color: rgb(0, 0, 0, 0.65) !important;
        border-color: rgb(0, 0, 0, 0.15) !important;
    }
}

.btnContent {
    display: flex;
    align-items: center;
}

.loginAvatar {
    &:global(.ant-avatar) {
        height: 40px;
        width: 40px;
        background-color: #f9f9f9 !important;
        border-radius: 5px;
    }
    :global {
        svg {
            fill: rgb(0, 0, 0, 0.65);
        }
    }
}
