.emoji {
    border: 1px solid #d9d9d9;
    border-top: none;
    padding: 5px;
    button {
        border: transparent;
        margin-left: 5px;
    }
    img {
        width: 100%;
    }
}
.userInfo {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.userInfoText {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 0;
}

.userInfoAvatar {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 5px;
}

.commentFormFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
