// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }
// html {
//     height: $size-100;
//     text-rendering: optimizeLegibility;
//     font-size: $font-size-base;
// }
// body {
//     height: $size-100;
//     font-family: $font-family-base;
//     font-size: 1rem;
//     color: $body-color;
//     line-height: $line-height-base;
//     background-color: #f4f5f5;
// }
// input,
// select,
// textarea {
//     font-family: -apple-system, 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
// }
// textarea:focus {
//     outline: none
// }
// a {
//     color: #34495e;
//     text-decoration: none;
// }
// a:hover {
//     color: #409eff;
// }
// ul {
//     padding: 0;
//     margin: 0;
// }
// li {
//     list-style: none;
// }
.app {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.view {
    display: flex;
    flex-direction: column;
}

.app-main {
    margin-left: 200px;
    flex-direction: column;
    flex: 1 0 auto;
}

.tip {
    font-size: 1rem;
    color: #333;
    padding: 5px;
    color: #fff;
    text-align: center;
    background-image: url(/static/images/tip.jpg)
}

.app-category-list {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 42px;
    display: flex;
    align-items: center;
    li:last-child {
        flex: 1 0 auto;
    }
    li {
        display: inline-block;
        margin-right: 20px;
        font-size: 14px;
    }
    a {
        color: #90979c;
        font-size: 12px;
    }
}

.page-list-nav {
    font-size: 14px;
    padding: 20px 40px;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    a {
        margin: 0 1em;
        cursor: pointer;
        font-weight: 600;
        color: rgb(79, 118, 228)
    }
    span {
        font-weight: 600;
    }
    .disabled {
        color: #ccc
    }
}

form {
    margin: 0
}

.panel {
    background-color: #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px dashed #ccc;
    button {
        margin-left: 5px;
    }
}

.manager-tip {
    background-color: #d56565;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
}

.main-content {
    background-color: #fff;
}

// @import 'table.scss'
.main-content .ant-table-thead>tr>th {
    background-color: transparent;
    border-top: 1px solid #e9eaec;
    border-bottom: 1px solid #e9eaec;
}

// .main-content .ant-btn-primary {
//     background-color: #5988cb;
// }
// .main-content .panel .ant-btn-danger {
//     background-color: #ff3860;
//     color: #fff;
// }
// .main-content .ant-form{
//     max-width: 600px;
// }
.main-content .upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}