*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: $size-100;
    font-size: $font-size-base;
    -webkit-text-size-adjust: 100%;
}

body {
    height: $size-100;
    font-family: $font-family-base;
    font-size: 14px;
    color: $body-color;
    line-height: $line-height-base;
    background: #f5f7f9;
    margin: 0;
    line-height: 2;
    color: #444;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
    color: #34495e;
    text-decoration: none;
}

a:hover {
    color: #409eff;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

strong {
    font-weight: bolder;
}

code {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.app {
    height: $size-100;
    width: $main-width;
    position: relative;
    margin: 0 auto;
}

.tip {
    font-size: 14px;
    color: #333;
    padding: 5px;
    color: #fff;
    text-align: center;
    background-image: url(/static/images/tip.jpg)
}

.app-category-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 42px;
    display: flex;
    align-items: center;
    font-size: 12px;
    background-color: #fff;
    flex: 0 0 auto;
    li {
        display: inline-block;
        margin-right: 20px;
    }
    a {
        color: #90979c;
    }
}

.load-loop {
    animation: load-loop 1s linear infinite;
    -webkit-animation: load-loop 1s linear infinite;
}

.masker-background {
    border-color: hsla(0, 0%, 95%, .1);
    background-color: hsla(0, 0%, 95%, .3);
}