// 基础字体和字体大小
$line-height-base: 1.5;
$font-size-base:   16px;
$font-family-base: -apple-system, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;

// body
$body-color:       #333;
$body-image:       url(/static/images/bg.jpg);

// 页面主宽度
$main-width:       960px;
$max-width:        980px;

//基础颜色
$white:          #fff;
$blue:           #34495e;

// 元素w*，h*百分比
$size-100:         100%;