
.editor-title {
  font-size: 16px;
}
.md-editor textarea,
.md-preview,
.tag-input input {
  line-height: 1.5;
}
/* Style for Editor */
.md-panel {
  display: block;
  position: relative;
  /*margin-top: 40px;*/
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  overflow: hidden;
}
.md-panel.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 500;
}
.md-panel.fullscreen .md-editor {
  height: 100%;
}
.md-panel.disabled textarea {
  cursor: default;
}
.md-panel.disabled .tb-btn a {
  cursor: default;
}
.md-panel.disabled .tb-btn a:hover {
  color: #aaa;
  background-color: #fff;
}
.md-panel.disabled .tb-btn a:active {
  box-shadow: none;
}
.md-menubar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 1px #ccc;
  z-index: 10;
  background-color: #fff;
}
.md-toolbar,
.md-modebar {
  margin: 0;
}
.md-toolbar {
  padding: 0 5px;
  background-color: #fff;
}
.md-modebar .tb-btn {
  float: right;
}
.tb-btn,
.tb-func-btn {
  float: left;
  font-size: 14px;
  list-style: none;
  margin: 0 2px;
}
.tb-btn.spliter,
.tb-func-btn.spliter {
  border-left: 1px solid #cccccc;
  margin: 6px 2px;
  height: 24px;
}
.tb-btn a,
.tb-func-btn a {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 9px 0;
  cursor: pointer;
  color: #aaa;
}
.tb-btn a:hover,
.tb-func-btn a:hover,
.tb-btn a.active,
.tb-func-btn a.active {
  color: #0081ff;
  background-color: #eee;
}
.tb-btn a:active,
.tb-func-btn a:active {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
}
.tb-btn input[type="file"],
.tb-func-btn input[type="file"] {
  display: none;
}
.tb-btn .badge,
.tb-func-btn .badge {
  position: absolute;
  padding: 1px 5px;
  right: 0;
  bottom: 0;
}
.md-editor {
  width: 50%;
  height: auto;
  transition: width .3s;
  background-color: #fff;
}
.md-editor.expand {
  width: 100%;
}
.md-editor textarea {
  display: block;
  border-style: none;
  resize: none;
  outline: 0;
  height: 100%;
  min-height: 540px;
  width: 100%;
  padding: 47px 15px 0 15px;
}
.md-preview {
  position: absolute;
  width: 100%;
  right: -100%;
  top: 37px;
  background-color: #f6f6f6;
  padding: 45px 20px 20px 20px;
  border-left: 1px solid #cccccc;
  overflow: auto;
  transition: left .3s, width .3s;
  z-index: 1000;  
  bottom: 0;
}
.md-preview.expand {
  right: 0;
  /*width: 100%;*/
  border-left-style: none;
}
.md-preview.shrink {
  left: 100%;
  width: 0;
}
.md-spliter {
  position: absolute;
  top: 0;
  left: 50%;
  height: 37px;
  border-left: 1px solid #ccc;
  z-index: 105;
}
.md-btngroup {
  margin-top: 20px;
}
.md-btngroup .help-text {
  margin-left: 15px;
}
