.AppFooter {
    background-color: #fff;
    border-top: 1px dashed #d9d9d9;
    box-sizing: border-box;
    color: #999;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: normal;
    padding: 8px 0 10px 20px;
    position: relative;
    text-align: center;
    ._p {
        word-break: break-all;
        word-wrap: break-word
    }
    ._back-top {
        bottom: 50%;
        color: #8590a6;
        cursor: pointer;
        display: block;
        height: 40px;
        line-height: 40px;
        margin-bottom: -20px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 40px
    }
}