.Articles {
    background-color: #fff;
    flex: 1 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Articles-item {
    border-bottom: 1px solid rgba(178, 186, 194, .15);
    padding: 10px 15px
}

.Articles-itemHeader {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px
}

.Articles-itemBrief {
    display: block;
    font-size: 18px;
    line-height: 32px;
    overflow: hidden;
    padding: 0 28px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.Articles-itemTitle {
    color: rgb(85, 85, 85);
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
        color: #007fff
    }
}

.Articles-itemMeta {
    color: #999;
    font-size: 12px;
    >a {
        color: #999;
    }
}

.Articles-itemThumb {
    height: 96px;
    width: 150px
}

.Articles-itemThumbA {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%
}

.Articles-itemSummary {
    font-size: 14px;
    margin: 8px 28px;
    word-wrap: break-word
}