.FriendlyLinks {
    background-color: #fff;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 28px
}

.FriendlyLinks-header {
    text-align: center
}

.FriendlyLinks-headerTitle {
    font-size: 24px;
    margin: 5px
}

.FriendlyLinks-tip {
    color: #333;
    font-size: 14px;
    padding: 5px 5px 5px 20px;
    >i {
        margin-right: 5px;
    }
}

.FriendlyLinks-hr {
    margin: 20px 0;
    height: 3px;
    border: none;
    background-color: #ccc;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}

.FriendlyLinks-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0
}

.FriendlyLinks-item {
    list-style: none;
    margin: 0;
    padding: 10px;
    position: relative;
    width: 33.3%;
}

.FriendlyLinks-itemContent {
    // border: 1px solid #dededd;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    background-color: #f4f5f7;
}

.FriendlyLinks-itemImg {
    border-radius: 50%;
    height: 20px;
    margin-right: 8px;
    width: 20px
}

.FriendlyLinks-itemMeta {
    align-items: center;
    color: #212121;
    display: flex
}

.FriendlyLinks-itemDescription {
    color: #6d757a;
    font-size: 12px;
    height: 52px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden
}

.FriendlyLinks-itemDecoration {
    background-color: #cad0da;
    position: absolute;
    right: -3px;
    bottom: -3px;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    border: 4px solid #fff;
}

.FriendlyLinks-li {
    font-size: 14px;
    list-style: circle;
    padding: 5px
}

.FriendlyLinks-jump {
    font-size: 14px;
    color: #f51c1c;
}