.Guestbooks {
    background-color: #fff;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.Guestbooks-formInline {
    display: flex
}

.Guestbooks-main {
    display: flex
}

.Guestbooks-item {
    padding: 20px 25px;
    position: relative;
    width: 400px
}

.Guestbooks-resume {
    font-size: 24px;
    text-align: center
}

.Guestbooks-userMata {
    color: #999;
    display: flex;
    font-size: 14px;
    padding-top: 5px;
}

.Guestbooks-avatar {
    height: 24px;
    width: 24px
}

.Guestbooks-avatarImg {
    background-color: #f2f2f1;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%
}

.Guestbooks-nickName {
    color: #42b983;
    flex: 1 0 auto;
    padding-left: 5px
}

.Guestbooks-userContent {
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.8;
    padding: 10px 0
}

.Guestbooks-time,
.Guestbooks-map {
    font-size: 12px;
    padding-left: 5px
}

.Guestbooks-form {
    padding: 20px
}