.Message {
    color: rgba(0, 0, 0, 0.65);
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: fixed;
    top: 4px;
    width: 100%;
    z-index: 1010
}

.Message-notice {
    padding: 8px;
    text-align: center
}

.Message-noticeContent {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 10px 16px;
    pointer-events: all
}

@keyframes MessageSlideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes MessageSlideInUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: hidden;
    }
}

.MessageSlideInDown {
    animation: MessageSlideInDown 0.3s ease
}

.MessageSlideInUp {
    animation: MessageSlideInUp 0.3s ease
}