.Progress {
    background-color: #2299dd;
    height: 2px;
    left: 0px;
    opacity: 1;
    position: fixed;
    right: 0px;
    top: 0px;
    transition: width 0.2s, opacity 0.4s;
    width: 0%;
    z-index: 999999
}