.wrap {
    img {
        width: 100%;
    }
}
.adminPanelDiv {
    margin-bottom: 20px;
    button {
        margin-right: 8px;
    }
}
.replyListItem {
    display: flex;
    position: relative;
    padding: 12px 20px 12px 20px;
    border: 1px dashed #d1d5da;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 2px;
}
.userAvatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    img {
        width: 100%;
        min-width: 100%;
        border-radius: 50%;
        overflow: hidden;
        line-height: 1;
        vertical-align: middle;
    }
}
.replyContent {
    width: 100%;
    margin-left: 10px;
    border-radius: 3px;
    position: relative;
}
.replyInfo {
    display: flex;
    align-items: center;
    padding-right: 16px;
}
.tip {
    margin-bottom: 10px;
    svg {
        margin-right: 6px;
    }
}

.baseInfo {
    flex: 1 0 auto;
    display: flex;
    font-size: 14px;
    align-items: center;
    a {
        color: rgba(0, 0, 0, 0.65);
        font-size: 12px;
    }
    :global(.reply-author) {
        font-weight: 700;
        margin-right: 5px;
    }
    :global(.reply-time) {
        font-size: 12px;
    }
}

.userAction {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.replyAction {
    margin-left: 7px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

.markdownText {
    font-size: 14px;
    padding: 12px 0 0;
    background-color: #fff;
}
