.commentReply {
    border-left: 2px solid #806060;
    padding: 7px 14px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #efefef;
    position: relative;
}

.commentReplyHeader {
    display: flex;
    justify-content: space-between;
}

.commentReplyLeft {
    display: flex;
    align-items: center;
    img {
        width: 24px;
        border-radius: 3px;
    }
    :global(.text) {
        margin-right: 5px;
    }
}

.randomLogo {
    margin-right: 10px;
}

.commentReplyContent {
    margin-right: 60px;
    word-break: break-all;
    word-wrap: break-word;
}

.commentReplyA {
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
