.about {
    background-color: #fff;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 0 28px 20px
}

.resume {
    font-size: 24px;
    text-align: center
}

.header {
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
    display: flex;
    flex: 1 0 auto;
    flex-direction: row
}

.personInfo {
    flex: 1 0 auto;
    list-style: none;
    padding: 5px;
    li {
        font-size: 12px;
        padding: 5px
    }
}

.name {
    font-size: 20px
}

.aim {
    font-size: 12px
}

.avatar {
    flex: 1 0 auto;
    text-align: right
}

.avatarImg {
    height: 90px;
    width: 90px
}

.mainItem {
    padding-top: 10px
}

.mainTitle {
    background-color: #efefef;
    border-left: 4px solid #67e29d;
    flex: 0 0 auto;
    margin: 5px 0;
    padding: 5px 0;
    padding-left: 20px
}

.mainContent {
    font-size: 14px;
    line-height: 2;
    h4 {
        margin: 0
    }
    p {
        margin: 5px 0
    }
}

.experience {
    padding: 10px 0
}