<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="<%= option.site_keywords %>">
	<meta name="description" content="<%= option.site_description %>">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<!-- inject:css -->
	<!-- endinject -->
	<%- option.site_header_code %>
	<title><%= option.site_name %></title>
</head>

<body>
	{{ APP }}
	<script src="/home/js/client-vendor-bundle.js"></script>
	<script src="/home/js/client-bundle.js"></script>
</body>

</html>