 {
   "extends": "eslint:recommended",
   "root": true,
   "rules": {
     "no-console": "off",
     "no-empty": 0,
     "no-const-assign": 2,
     "no-dupe-keys": 2,
     "no-redeclare": 2,
     "no-unreachable": 2,
     "no-use-before-define": 2,
     "use-isnan": 2,
     "no-undef": 1,
     "valid-typeof": 2,
     "lines-around-comment": [1, { "beforeBlockComment": true }],
     "no-unused-vars": 0
   },
   "env": {
     "node": true,
     "es6": true,
     "browser": true
   },
   "parserOptions": {
     "ecmaFeatures": {
       "experimentalObjectRestSpread": true,
       "jsx": true,
       "arrowFunctions": true,
       "classes": true,
       "modules": true,
       "defaultParams": true
     },
     "sourceType": "module"
   },
   "parser": "babel-eslint"
 }