<div class="guestbook view">
  <h2 class="resume">--留言板--</h2>
  <div class="guestbook-item">
    <div class="guestbook-user">
      <div class="content">博主你网站做的挺漂亮，我发现你的网站点击“首页”、“文章”、“留言”浏览器都好像没有刷新页面，感觉就像在一个页面内，但是url又变了，好神奇！这是怎么做到了啊？</div>
      <div class="mata">
        <span class="nick_name"><i class="fa fa-user fa-fw"></i>冷夜流星</span>
        <em> · </em>
        <span class="date"><i class="fa fa-clock-o fa-fw"></i>2017-5-4 15:20:30</span>
      </div>
    </div>
    <!-- <div class="guestbook-blog">
          <div class="content">博主暂未回复...</div>
          <div class="mata">
              <span class="nick_name"><i class="fa fa-user fa-fw"></i>冷夜流星</span>
              <em> · </em>
              <span class="date"><i class="fa fa-clock-o fa-fw"></i>2017-5-4 15:20:30</span>
          </div>
      </div> -->
  </div>
  <div class="guestbook-item">
    <div class="guestbook-user">
      <div class="content">博主你网站做的挺漂亮，我发现你的网站点击“首页”、“文章”、“留言”浏览器都好像没有刷新页面，感觉就像在一个页面内，但是url又变了，好神奇！这是怎么做到了啊？</div>
      <div class="mata">
        <span class="nick_name"><i class="fa fa-user fa-fw"></i>冷夜流星</span>
        <em> · </em>
        <span class="date"><i class="fa fa-clock-o fa-fw"></i>2017-5-4 15:20:30</span>
      </div>
    </div>
    <!-- <div class="guestbook-blog">
          <div class="content">博主暂未回复...</div>
          <div class="mata">
              <span class="nick_name"><i class="fa fa-user fa-fw"></i>冷夜流星</span>
              <em> · </em>
              <span class="date"><i class="fa fa-clock-o fa-fw"></i>2017-5-4 15:20:30</span>
          </div>
      </div> -->
  </div>
  <div class="guestbook-item">
    <div class="guestbook-user">
      <div class="content">很新颖,效果很好看啊</div>
      <div class="mata">
        <span class="nick_name"><i class="fa fa-user fa-fw"></i>叮咚</span>
        <em> · </em>
        <span class="date"><i class="fa fa-clock-o fa-fw"></i>2017-7-4 15:20:30</span>
      </div>
    </div>
    <div class="guestbook-blog">
      <div class="content"><strong>@叮咚</strong> 代码高了: https://highlightjs.org/</div>
      <div class="mata">
        <span class="nick_name"><i class="fa fa-user fa-fw"></i>冷夜流星</span>
        <em> · </em>
        <span class="date"><i class="fa fa-clock-o fa-fw"></i>2017-5-4 15:20:30</span>
      </div>
    </div>
  </div>
  <div class="guestbook-form">
    <form class="comment-form" id="reply-form" action="`/blog/articles/reply`" method="post">
      <div class="form-group">
        <label class="label">昵称</label>
        <input id="nickName" name="nick_name" placeholder="输入你的昵称" type="text" class="comment-form__input" />
      </div>
      <div class="form-group">
        <label class="label">邮箱</label>
        <input id="email" name="email" placeholder="输入你的email" type="text" class="comment-form__input" />
      </div>
      <div class="form-group">
        <textarea id="content" name="content" rows="3" placeholder="留点空白给你说~" class="comment-form__textarea"></textarea>
      </div>
      <div class="footer">
        <button id="submit" type="submit" class="submit">提 交</button>
      </div>
    </form>
  </div>
</div>