<div class="nocontent">
  <div class="nocontent-message">
    <p><strong>提示：</strong>暂无内容....</p>
  </div>
  <div class="footer">
    <a href="javascript:;" onclick="window.history.go(-1);">返回</a>
  </div>
</div>