{
    "root": true,
    "env": {
        "es6": true,
        "node": true,
        "commonjs": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "parser": "babel-eslint",
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "react/prop-types": 0,
        "react/display-name": 0,
        "prettier/prettier": "error"
    }
}