<form class="comment-form" id="reply-form" articleId="<%= articleId %>">
  <div class="comment-form__group">
    <label class="comment-form__label">昵称</label>
    <input id="nickName" placeholder="输入你的昵称" type="text" class="comment-form__input" />
  </div>
  <div class="comment-form__group">
    <label class="comment-form__label">邮箱</label>
    <input id="email" placeholder="输入你的email" type="text" class="comment-form__input" />
  </div>
  <div class="comment-form__group">
    <textarea id="content" rows="3" placeholder="留点空白给你说~" class="comment-form__textarea"></textarea>
  </div>
  <div class="comment-form__footer">
    <button id="submit" type="submit" class="comment-form__button">提 交</button>
  </div>
</form>
<script>
var form = document.getElementById('reply-form');
var submitBtn = document.getElementById('submit');

function flash(el) {
  let count = 1;
  let intervalID = setInterval(function() {
    if (count % 2 == 0) {
      el.style = 'background-color: #ffdab9';
    } else {
      el.style = 'background-color: #fff'
    }
    count++;
    if (count >= 8) {
      clearInterval(intervalID);
    }
  }, 140);
}
subCommentBtn.onclick = function() {
  console.log(nick_name)
  var nick_name = form.elements[0].value;
  var content = form.elements[1].value;
  var email = form.elements[2].value;
  console.log(nick_name)
  if (!nick_name) {
    flash(form.elements[0]);
    return false;
  }
  if (!/^[0-9|A-z|_]{1,17}[@][0-9|A-z]{1,3}.(com)$/.test(mail))　　 {
    flash(form.elements[1]);
    return false;
  }
  if (!content) {
    flash(form.elements[2]);
    return false;
  }
}
</script>
<!-- <div class="message">
  <div class="message-notice" v-show="visible">
    <div class="message-notice-content">
      <div class="message-custom-content message-info">
        <InfoSvg style="vertical-align: bottom"></InfoSvg>
        <span> {{ content }} </span>
      </div>
    </div>
  </div>
</div> -->