<div class="app-cover">
  <a class="app-github" target="_blank">
    <GithubSvg></GithubSvg>
  </a>
  <div class="app-cover-bg"></div>
  <div class="app-cover-info">
    <section class="app-card">
      <div class="app-author">
        <img src="/static/images/avatar.png" class="app-author-pic" />
        <p class="app-author-name"><%= title %></p>
        <p class="app-author-description">真理惟一可靠的标准就是永远自相符合。 —— 欧文</p>
      </div>
      <nav class="app-state">
        <div class="app-state-item">
          <span class="app-state-count"> 546</span>
          <span class="app-state-name">日志</span>
        </div>
        <div class="app-state-item">
          <span class="app-state-count">10</span>
          <span class="app-state-name">分类</span>
        </div>
        <div class="app-state-item">
          <span class="app-state-count">100</span>
          <span class="app-state-name">评论</span>
        </div>
      </nav>
    </section>
  </div>
</div>