.editorWrap {
    margin: 0 auto;
    width: 700px;
    padding-top: 20px;
    :global(textarea.ant-input) {
        font-size: 24px;
        font-weight: 700;
        border: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    :global(.ant-upload) {
        width: 320px !important;
        height: 160px !important;
    }
    img {
        display: block;
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        max-width: 100%;
        width: 320px !important;
        height: 160px !important;
        display: block;
        border-radius: 4px;
        object-fit: cover;
    }
    .lay {
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
        :global {
            .ant-form-item {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.back {
    a {
        color: rgba(0, 0, 0, 0.65);
        text-decoration: none;
        font-weight: normal;
    }
}
