.sidebarList {
    width: 250px;
    background-color: #fafafa;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100%;
    &::-webkit-scrollbar {
        display: block;
        width: 6px;
        height: 6px;
    }
}

.item {
    display: flex;
    padding: 10px;
    align-items: center;
    &:hover {
        background-color: #ebebeb
    }
}

.avatar {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.avatarImg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.content {
    width: 100%;
}

.contentHeader {
    display: flex;
    align-items: center;
    flex: 1 0 auto
}

.name {
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 1 0 auto;
    color: #656c7e
}

.time {
    color: #7d7d7d;
    font-size: 13px;
}

.message {
    margin: 0;
    font-size: 12px;
    color: #999
}