<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= userName %></h1>
<p>Hello <%= userName %></p>
</body>
</html>
