.wrap {
    background-color: var(--main-bg-color);
    padding: 20px 30px;
    width: 80%;
    margin: 0 auto;
    color: var(--secondary-text-color);
    :global {
        .ant-list-item {
            border-bottom: 1px solid var(--border-color);
        }
        .ant-list-item-meta-description {
            color: var(--secondary-text-color);
        }
    }
}

.title {
    color: var(--secondary-text-color);
}
