.wrap {
    background-color: var(--main-bg-color);
    padding: 20px 30px;
    color: var(--secondary-text-color);
    :global {
        .ant-list-item {
            border: 1px solid var(--explore-color-border-default) !important;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 3px;
            transition: background 0.12s ease-in 0s;
        }
        .ant-list-item-meta-description {
            color: var(--primary-text-color);
            position: relative;
        }
    }
}
