/*
 * @Author: bs32g1038@163.com 
 * @Date: 2017-05-23 23:41:42 
 * @Last Modified by: bs32g1038@163.com
 * @Last Modified time: 2017-06-18 20:25:52
 */


/*
 * 用于rem转换函数
 */

$rem-baseline: 16px !default;
$rem-fallback: true !default;
$rem-px-only: false !default;

/*
 * app相关
 */

$app-header-height: 54px !default;
$app-container-width: 960px !default;
