.appHeader {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #8c8c8c1f;
    background-color: var(--main-bg-color);
}

.siteTitle {
    display: flex;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 0;
    text-decoration: none;
    h1 {
        font-family: logoFont;
        font-size: 16px;
        font-weight: bold;
        color: var(--title-text-color);
        margin-bottom: 0;
    }
    &:hover {
        text-decoration: none;
    }
}

.siteTileSvgWrap {
    display: flex;
    align-items: center;
    svg {
        width: 32px;
        height: 32px;
        fill: var(--title-text-color);
    }
}

.nav {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    padding-right: 10px;
}

.navA {
    transition: none;
    flex: 1 0 auto;
    color: var(--primary-text-color);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:global(.active) {
        color: #f86422;
    }
    span {
        margin-left: 5px;
    }
}

.branche {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover {
        transform: rotate(270deg);
    }
}

.githubIcon {
    color: var(--primary-text-color);
    width: 22px;
    vertical-align: text-bottom;
}

.moonIcon,
.sunIcon {
    color: var(--primary-text-color);
    width: 24px;
    vertical-align: text-bottom;
}
