.main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 28px;
}

.room{
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 65px #ceab97d9;
}

.roomSideBar {
    display: flex;
    flex-direction: column;
    width: 269px;
}

.roomSideBarHeader{
    display: flex;
    flex: 1 0 auto;
}

.toolBar{
    padding: 25px 18px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #4eb184d6;
}

.tip {
    position: relative;
    //padding-left: 20px;
    //&:before{
    //    content: "";
    //    display: block;
    //    height: 10px;
    //    width: 10px;
    //    background-color: #6bc30d;
    //    border-radius: 50%;
    //    position: absolute;
    //    top: 5px;
    //    left: 0;
    //    box-shadow: inset -1px 0 3px rgba(0,0,0,.5);
    //}
}



.chatWindow {
    display: flex;
    flex-direction: column; // background-color: #fff;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    flex:  1 0 auto;
}


.toolBarBtn{
    font-size: 16px;
    margin-right: 10px;
    color: #fff
}

.loginAvatar {
    flex: 1 0 auto;
    margin: 0 auto;
    line-height: 24px;
    color: #fff
}

.loginAvatarImg {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    vertical-align: bottom;
    margin-right: 5px;
    border: 1px solid #fff;
}

.ChatRoom {
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    max-width: 230px;
    flex: 1 0 auto;
}

.sidebarList {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

.sidebarListTip {
    padding: 10px 20px;
    color: #A4A4A4;
    font-size: 12px;

    &:first-child {
        border-top: none;
    }
}

.memberitem {
    display: flex;
    padding: 10px;
    align-items: center; //&:hover {
    //    background-color: #ebebeb
    //}
}

.memberitemAvatar {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.memberitemAvatarImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


.bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/static/images/bg2.jpg); // float: left;
    // height: 100%;
    // width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(65px);
    opacity: .6;
    width: 100%;
    height: 100%;
    overflow: hidden; // z-index: -100
}

.chatWindowTop {
    font-size: 14px;
    flex: 0 0 auto;
    // padding: 10px 20px;
    // background-color: #f5f7f9;
    display: flex; // box-shadow: 0 0 1px #555;
    border-radius: 5px
}

.chatWindowName {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
}

.chatRoomName {
    position: relative;
    list-style: none;
    padding: 0;
    flex: 0 0 auto;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    & .chatRoomNameActive {
        margin-left: 10px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #6bc30d;
        border-radius: 50%;
    }
}

.logoutBtn {
    background-color: transparent;
    border: 1px solid #6a737d;
    padding: 5px 15px;
    color: #555;
    border-radius: 2px;
}

.content {
    width: 100%;
}

.contentHeader {
    display: flex;
    flex: 1 0 auto
}

.name {
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #656c7e
}

.time {
    color: #7d7d7d;
    font-size: 13px;
}

.message {
    margin: 0;
    font-size: 14px;
    color: #555;
    word-break: break-all;
    word-wrap: break-word;
}

.wrap {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.decroation{
    padding-right: 20px;
    color: #fff;
    >i{
        font-size: 14px;
        user-select: none;
    }
}

.mainContent {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 0;
    flex: 1 0 auto; //border-right: 1px solid #ddd;
    min-height: 300px;
    &::-webkit-scrollbar {
        display: block;
        width: 3px;
    }
}

.item {
    display: flex;
    padding: 10px;
}

.avatar {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.avatarImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.content {
    width: 100%;
}

.contentHeader {
    display: flex;
    align-items: center;
    flex: 1 0 auto
}

.name {
    margin: 0;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #656c7e;
    margin-right: 5px;
}

.time {
    color: #7d7d7d;
    font-size: 12px;
}

// ::-webkit-scrollbar {
//     display: none;
// }

.chat-messageList::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 6px;
}

.code-viewer .rc-dialog-body::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.mainFooter {
    flex: 0 0 auto;
}

.messageSendArea {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px 0;
}

.sendBtn {
    background-color: #0188FB;
    padding: 3px 5px;
    border: none;
    color: #fff;
    font-family: 微软雅黑;
    float: right;
    margin-right: 10px;
    margin-left: 5px;
}

.emojibtn {
    font-size: 18px;
    color: #555;
    margin: 0px 10px;
}

.messageInput {
    border: none; // flex: 1 0 auto;
    color: #444;
    background-color: #fff;
    height: 40px;
    line-height: 18px;
    overflow-x: hidden;
    padding: 5px;
    resize: none;
    flex: 1 0 auto;
    word-break: break-all;
    word-wrap: break-word;
    &:focus {
        outline: none
    }
}

