.about {
    background-color: var(--main-bg-color);
}

.invite {
    padding: 0 20px;
    margin-top: -25px;
}

.inviteTitle {
    color: var(--secondary-text-color);
    font-size: 13px;
    margin-bottom: 10px;
}
