<section class="page-header">
    <h1>控制台
        <small>文档评论管理</small>
    </h1>
</section>
<div class="panel">
	<button class="btn btn-danger btn-sm" id="btnListDel">
        <span class="fa fa-fw fa-trash-o">&nbsp;</span>
        批量删除
    </button>
</div>
<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" class="mini" id="selectAll"></th>
                <th>文章标题</th>
                <th>昵称</th>
                <th>评论内容</th>
                <th>创建时间</th>
                <th>邮箱</th>
                <th>关联用户(回复)</th>
                <th>审核</th>
                <th>管理</th>
            </tr>
        </thead>
        <tbody>
        <% comments.forEach(function(comment){ %>
            <tr>
                <td><input type="checkbox" name="listItem" class="mini" value="<%= comment._id %>"></td>
                <td><%= comment.post_title %></td>
                <td><%= comment.nick_name %></td>
                <td><%= comment.content %></td>
                <td><%= comment.create_at %></td>
                <td><%= comment.email %></td>
                <td><%= comment.reply_author %></td>
                <td><%= comment.pass ? '通过' : '未审核' %></td>
                <td>
                    <% if(comment.pass){ %>
                        <a href="/admin/comment/<%= comment._id %>/reply" class="btn btn-primary btn-xs">
                        <span class="fa fa-fw fa-mail-reply"></span>回复</a>
                    <% } else { %>
                    <button class="btn btn-primary btn-xs btn-pass" comment-id="<%= comment._id %>">
                        <span class="fa fa-fw fa-eye"></span>通过
                    </a>
                    <% } %>
                    <button class="btn btn-default btn-xs comment_del" comment-id="<%= comment._id %>" post-id="<%= comment.post_id %>" >
                            <span class="fa fa-fw fa-trash-o"></span>删除
                    </button>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <input type='hidden' id="csrf" name='_csrf' value='<%= csrf %>'/>
</div>
<%- include('../page_nav.html',{ 
	url: '/admin/comment/list/page', 
	curPage: curPage, 
	pageCount: pageCount 
}); %>
<%- include('../js.html') %>
<script>
    $(document).ready(function () {
        $('.comment_del').on('click', function () {
            var comment_id = $(this).attr("comment-id");
            var post_id = $(this).attr("post-id");
            var _csrf = $('#csrf').val();
            if (comment_id && post_id && confirm('确定要删除该评论吗？')) {
                $.post('/admin/comment/del', {
                    id: comment_id,
                    post_id: post_id,
                    _csrf: _csrf
                }, function (res) {
                    if (!res.success) {
                        alert(res.message);
                    } else {
                        location.href = '/admin/comment/list';
                    }
                });
            }
        });
        $('.btn-pass').on('click', function () {
            var comment_id = $(this).attr("comment-id");
            var _csrf = $('#csrf').val();
            if (comment_id && confirm('确定要通过该评论吗？')) {
                $.post('/admin/comment/pass/do', {
                    id: comment_id,
                    _csrf: _csrf
                }, function (res) {
                    if (!res.success) {
                        alert(res.message);
                    } else {
                        location.href = '/admin/comment/list';
                    }
                });
            }
        });
        $('#selectAll').on('click', function(){
		 	$("input[name='listItem']").prop("checked",$(this).prop("checked"));
		});
		$("input[name='listItem']").on('click',function(){
			$('#selectAll').prop("checked",false)
		});
		$('#btnListDel').on('click', function(){
			var _csrf = $('#csrf').val();
			var ids = [];
			$("input[name='listItem']").each(function(){ 
				if (true == $(this).prop("checked")) { 
					ids.push($(this).prop('value'));
				}
			})
			if(ids.length <= 0){
				return alert("请在要删除的评论前面打勾");
			}
			if (confirm('确定要删除这些评论吗？')) {
                $.post('/admin/comment/del', {
                    ids: ids,
                    _csrf: _csrf
                }, function (res) {
                    if (!res.success) {
                        alert(res.message);
                    } else {
                        location.href = '/admin/comment/list';
                    }
                });
            }
		});
    });
</script>